* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/background.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 43px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 21px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}
.btn{
   padding: 3px 8px;
   font-weight: 400;
   color: white;
   background-color: rgba(243, 243, 243,0.021);
   border-radius: 4px;
   border: 1px solid white;
   cursor: pointer;
}
.btn-red{
  background-color: red;
  color: white;
}
.btn-red-sm{
 background-color: red;
 color: white;
}
.main input{
    padding: 7px 101px 8px 14px;
    color: white;
    font-weight: 450;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(246,238,238,0.5);
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;

}

.secimg {
    position: relative;
  }
  
  .secimg img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
  }
  
  .secimg video {
    position: absolute;
    top: 0;
    left: 0;
    width: 91%;
    height: 85%;
    object-fit: cover;
  }

.main1{
 font-size: 35px;
 font-weight: 900;
}
.one{
    width: 100%;
}
   
  
.krishna{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-weight: 180;

  }

.india{
   height: 80%;
   width: 50vw;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .saif{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    object-fit: cover;

  }
  .secimg1 {
    position: relative;
  }
  .secimg1 img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
  }
  
  .secimg1 video {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 91%;
    height: 85%;
    object-fit: cover; */
    position: absolute;
    top: 7%;
    left: 19%;
    width: 63%;
    height: 45%;
    object-fit: fill;
    right: 20%;
  }
  .faq h2{
    text-align: center;
  }
  .faq{
    color: white;
    background-color: black;
    padding: 15px;
  }
.faqbox{
    display: flex;
   justify-content: space-between;
    
  
    background-color: #2d2d2d;
    padding: 15px;
  
   max-width: 67vw;
   margin:15px auto;
   cursor: pointer;
  }
  /* details {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  summary {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  } */
  
  /* summary::-webkit-details-marker {
    display: none;
  }
  
  details[open] {
    padding-bottom: 10px;
  }
  
  details[open] summary {
    border-bottom: none;
  }
  details p {
    margin: 10px 0;
  } */
.two{
    display: flex;
   
    justify-content: center;
    font-size: small;
   }
.three{
    display: flex;
    justify-content: center;
}
.three input{
    
        padding: 7px 101px 8px 14px;
        color: white;
        font-weight: 450;
        font-size: 12px;
        border-radius: 4px;
        background-color: rgba(23, 23, 23, 0.7);
        border: 1px solid rgba(246, 238, 238, 0.5);
  
}
footer{
  color: white;
  max-width: 60vw;
    margin: auto;
    padding: 40px;
    

} 

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    gap: 5px;
    
}
.footer a{
  color: white;
}
.footeritems{
    display: flex;
    flex-direction: column;
}
#lang{
  width: 70px;
  height: 25px;
}
